.navbar,li,footer,body,p ,span,a{
	font-family: '微軟正黑體';
}
.h1, h1,h2,h3,h4,h5{
	font-weight: bold;
}
p{
	font-size: 1.2em;
	line-height: 1.6;
}
footer{
	background-color: rgba(0,0,0,0.7);
	padding: 2em;
	color: #998675;
	font-size: 0.7em;
}
.navbar-wrapper{
	margin-top:20px;
}
.scrollToTop {
    color: #fcf8e3;
    background-color: #3535A8;
    position: fixed;
    font-size: 1.8em;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1005;
    display: none;
    border-radius: 50%;
	/* border: 1px solid #F2B45A; */
    }
.nav-tabs {
    border-bottom: 1px solid #F2B45A;
}
.tab-pane {
	padding: 20px;
	border-radius: 0px 0px 5px 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fcf8e3;
    border: 1px solid #fcf8e3;
}
.nobreak{
	display: inline-block;
}
.navbar-inverse{
	background-image:linear-gradient(to bottom,#ED701B 0,#ED701B 100%);
}
.table-bordered {
    border: 1px solid #fcf8e3;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border: 1px solid #fcf8e3;
}