.navbar,li,footer,body,p ,span,a{
	font-family: '微軟正黑體';
}
.h1, h1,h2,h3,h4,h5{
	font-weight: bold;
}
footer{
	background-color: rgba(0,0,0,0.7);
	padding: 2em;
	color: #998675;
	font-size: 0.7em;
}
.navbar-wrapper{
	margin-top:20px;
}
.scrollToTop {
    color: #fcf8e3;
    background-color: #0B3954;
    position: fixed;
    font-size: 1.8em;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1005;
    display: none;
    border-radius: 50%;
	/* border: 1px solid #fcf8e3; */
    }
.nav-tabs {
    border-bottom: 1px solid #fcf8e3;
}
.tab-pane {
	padding: 20px;
	border-radius: 0px 0px 5px 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fcf8e3;
    border: 1px solid #fcf8e3;
}