
body {
  min-height: 0px;
  padding-top: 0px;
  font-family: 'Open Sans', Helvetica, Arial, "Source Han Sans TC", "Microsoft Jhenghei", sans-serif;
  font-size: large;
  line-height: 1.60;
  color: #4a4a4a;
  font-weight: 500;
  background-color: #e5bfa1;
}

/*錯誤訊息*/
.alert{
  border-radius: 0px !important;
  font-size: 14px;
  padding: 3px;
}
/*登入按鈕*/
.form-group{
  margin-bottom: 5px;
}
.btn-log-in{
  background-color: #86c26b;
  font-size: 14px;
  color: #fff2e7;
  border-radius: 0px !important;
}
.btn-log-in:hover{
  background-color: #ffffff;
  color: #df542f;
  font-weight: 600;
  box-shadow:2px -2px rgba(20%,20%,40%,0.5);
}
/*註冊按鈕*/
.btn-sign-up{
  background-color: #59bdbb;
  font-size: 14px;
  color: #fff2e7;
  border-radius: 0px !important;
}
.btn-sign-up:hover{
  background-color: #ffffff;
  color: #df542f;
  font-weight: 600;
  box-shadow:2px -2px rgba(20%,20%,40%,0.5);
}
.btn-use-fb{
  border-radius: 0px !important;
  background-color: #3b5998;
  color: #ffffff;
  min-width: 140px;
  margin-bottom:3px;
  margin-right: 3px;
}
.btn-use-fb:hover{
  background-color: #ffffff;
  color: #3b5998;
  font-weight: 600;
  box-shadow:2px -2px rgba(20%,20%,40%,0.5);
  margin-bottom:3px;
  margin-right: 3px;
}
.btn-use-g{
  border-radius: 0px !important;
  background-color: #dc4e41;
  color: #ffffff;
  min-width: 140px;
  margin-bottom:3px;
  margin-right: 3px;
}
.btn-use-g:hover{
  background-color: #ffffff;
  color: #dc4e41;
  font-weight: 600;
  box-shadow:2px -2px rgba(20%,20%,40%,0.5);
  margin-bottom:3px;
  margin-right: 3px;
}
/*主圖+階段按鈕*/
.board-container{
  background-color: #df542f;
  color: #ffffff;
  padding-top: 10px;
}
.board-footer{
  background-color: #eb8f2d;
  color: #ffffff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px
}
.btn-step{
    background-color: #f37b21;
    color: #ffffff;
    font-size: 16px;
    border-radius: 0px !important;
    margin: 0px;
    margin-bottom:10px; 
}
.btn-step.active,.btn-step:hover{
    background-color: #ffffff;
    color: #df542f;
    font-size: 16px;
    font-weight: 700;
    box-shadow:4px -5px rgba(20%,20%,40%,0.5);
    margin-bottom:5px;
}
/*主標欄*/
.step-logo{
  color: #df542f;
  font-size: 36px;
  position: relative;
  top:7px;
}
.board-footer-left{
  position: relative;
  right: -63px;
  top:50px;
}
.board-footer-right{
  position: relative;
  left: -64px;
  top: 50px;
  z-index: -99;
}
/*排序按鈕*/
.btn-list-1{
  background-color: #eb8f2d;
  color: #ffffff;
  font-size: 12px;
  border-radius: 0px !important;
  margin: 0px;
  margin-bottom:3px; 
}
.btn-list-2{
  background-color: #e4732b;
  color: #ffffff;
  font-size: 12px;
  border-radius: 0px !important;
  margin: 0px;
  margin-bottom:3px; 
}
.btn-list-3{
  background-color: #df542f;
  color: #ffffff;
  font-size: 12px;
  border-radius: 0px !important;
  margin: 0px;
  margin-bottom:3px; 
}
.btn-list-1.active,.btn-list-1:hover,.btn-list-2.active,.btn-list-2:hover,.btn-list-3.active,.btn-list-3:hover{
    background-color: #ffffff;
    color: #df542f;
    font-size: 12px;
    font-weight: 600;
    box-shadow:2px -2px rgba(20%,20%,40%,0.5);
    margin-bottom:3px;
}
/*勾選按鈕*/
.btn-check:before{
  content:"\f046";
  font-family: FontAwesome !important; 
}
.btn-check{
  border-radius: 0px !important;
  background-color: #aaaaaa;
  color: #ffffff;
  width: 60px;
  min-height: 60px;
  font-size: 35px;
  padding-left:5px;
  padding-right:5px;
}
.btn-check.active,.btn-check:hover{
  background-color: #df542f;
  color: #ffffff;
}
/*計數*/
.nbr-check{
  font-size: 22px;
  color: #9b9b9b;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}
.nbr-check.active{
  color: #df542f;
}
/*編號*/
.list-nbr{
  background-color: #df542f;
  color: #ffffff;
  min-height: 60px;
  font-size: 35px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
}
/*問題清單*/
.table-list th,
.table-list td{
  border: 2px solid #e5bfa1 !important;
  vertical-align: top;
}
.list{
  background-color: #ffffff;
  height: 60px;
  font-weight: 500;
  margin-left:10px; 
  width: 100%;
  vertical-align: middle !important; 
}
.list a{
  color: #4a4a4a;
  text-decoration:none;
}
.list a:hover{
  font-weight: 600;
}
.list:hover{
  background-color:#fbf8f8;
}
/*分頁按鈕*/
.pagination {
    display: inline-block;
}
.pagination>span {
    color: #ffffff;
    background-color: #eb8f2d;
    border: 1px solid #e5bfa1;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
}
.pagination > span > a{
  text-decoration:none;
  color: #ffffff;
}
.pagination > span:hover,
.pagination > span:focus {
  z-index: 2;
  color: #e4732b;
  background-color: #ffffff;
  border: 1px solid #e5bfa1;
  box-shadow:1px -1px rgba(20%,20%,40%,0.5);
}
.pagination > span:hover>a,
.pagination > span:focus>a{
  text-decoration:none;
  color: #e4732b;
}
.pagination>.current,
.pagination>.current>a:hover,
.pagination>.current>span,
.pagination>.current>span:focus,
.pagination>.current>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #df542f;
    border: 1px solid #e5bfa1;
}
/*go討論區*/
.text-gotalk{
  font-size: 24px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  min-height: 50px;
  margin: 20px;
}
.btn-gotalk{
  background-color: #df542f;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0px !important;
  margin-bottom: 3px;
}
.btn-gotalk:hover{
    background-color: #ffffff;
    color: #df542f;
    font-size: 16px;
    font-weight: 600;
    box-shadow:2px -2px rgba(20%,20%,40%,0.5);
    margin-bottom: 3px;
}
/*彈出視窗*/
.modal-header{
   background-color:#df542f;
   color: #ffffff;
}
.modal-body{
  background-color:#e5bfa1;
}
.text-header{
  font-weight: 600;
  color: #df542f;
}
/*text*/
h4.lv4{
  font-weight: 600;
  color: #b85743;
}
.foreword{
  text-decoration: none;
  color: #e5bfa1;
  font-weight: 600;
  background-color:#4a4a4a;
  font-size: 18px;
  padding: 3px 10px 2px 10px;
}
.dl-horizontal dt{
  height: 35px;
}
.dl-horizontal dd {
  min-height: 35px;
}

.nobreak{
    display:inline-block;
}
.pr-3{
  margin-right:3px;
}
.pr-5{
  margin-right:5px;
}
.pl-5{
  margin-left:5px;
}
.pl-64{
  margin-left:64px;
}
.pr-10{
  margin-right:10px;
}
.pt-30{
  margin-top: 30px;
}
.pb-3{
  margin-bottom:3px;
}
.pb-10{
  margin-bottom:10px;
}
.modal-title{
  font-weight: 700;
}
/*表單*/
fieldset.scheduler-border {
    border: 1px groove #df542f !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    color: #df542f;
    font-weight: 600;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
footer>.col-xs-12{
  background-color: #eb8f2d;
  margin-top: 30px;
  padding-top: 20px;
  color: #ffffff;
  font-weight: 300;
}
.dl-horizontal > dt{
  width: 70px;
}
.dl-horizontal > dd{
  margin-left: 80px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #df542f;
    border: 1px solid #fff;
}
.nav-tabs {
    border-bottom: 1px solid #fff;
}
a {
    color: #df542f;
}